*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
ul{list-style: none;}
body{
    font-size: 16px;
    font-family: "맑은 고딕";
}
#header .wrap{
    position: fixed;
    top: 40px; left: 50%;
    transform: translateX(-50%);
    width: 1300px;
    display: flex;
    justify-content: space-between;
}
#header .nav{
    display: flex;
}
#header .nav li{
    margin-left: 100px;
}

#banner{
    width: 1920px;
    height: 980px;
    background: url(../img/about.png);
}
#banner p{
    position: absolute;
    top: 80%; left: 63%;
    line-height: 30px;
    font-weight: bold;
    color: #2a3749;
}

/*contents*/
/*box*/
.contents .box{
  width: 1920px; height: 780px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-around;
}
.contents .box .img{
  padding-top: 100px;
}
.contents .box .txt{
  padding-top: 300px;
  padding-right: 250px;
}
.contents .box .txt h1{
  font-size: 36px;
  color: #384b64;
  padding-bottom: 40px;
}
.contents .box .txt .title{
  line-height: 80px;
  font-weight: bold;
}
.contents .box .txt p{
  line-height: 30px;
}

/*box2*/
.contents .box2{
  display: flex;
  justify-content: space-between;
}
.contents .box2 .txt{
  padding-left: 391px;
  padding-top: 240px;
}
.contents .box2 .txt p:first-child{
  line-height: 80px;
}
.contents .box2 .txt h1{
  font-size: 36px;
  color: #384b64;
  padding-bottom: 40px;
}
.contents .box2 .txt p{
  line-height: 30px;
}
.contents .box2 .img{
 display: inline-block;
}

/*box3*/
.contents .box3{
  display: flex;
}
.contents .box3 .img{
 display: inline-block;
}
.contents .box3 .txt{
  padding-left: 148px;
  padding-top: 240px;
}
.contents .box3 .txt p:first-child{
  line-height: 80px;
}
.contents .box3 .txt h1{
  font-size: 36px;
  color: #384b64;
  padding-bottom: 40px;
}
.contents .box3 .txt p{
  line-height: 30px;
}

/*Ep*/
.Ep .wrap{
  width: 1920px;
  height: 520px;
  background: #f7f7f7;
  text-align: center;
  padding-top: 120px;
}
.Ep .wrap h1{
  font-size: 72px;
  color: #384b64;
  line-height: 80px;
}
.Ep .wrap p{
  padding-top: 80px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}




/*footer*/
.footer .wrap{
    width: 1920px; height: 240px;
    background: #bdc9d9;
    position: relative;
}

/*frame*/
button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    background: transparent;
    /* padding: 0; */
    font-size: inherit;
    font-family: inherit;
}

/*process button*/
.footer .pro{
    width: 12rem;
    height: auto;
    position: absolute;
    top: 50%; left: 30%;
}
.footer .pro > .circle{
    transition: all 0.45s 
    cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem; height: 3rem;
    background: #fdd9d9;
    border-radius: 1.625rem;
}
.footer .pro > .circle > .icon{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  .footer .pro > .circle > .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  .footer .pro > .circle > .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .footer .pro .bTxt{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    padding: 0.8rem 0;
    margin: 0 0 0 1rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  .footer .pro:hover .circle {
    width: 100%;
  }
  .footer .pro:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
            transform: translate(1rem, 0);
  }
  .footer .pro:hover .bTxt {
    color: #fff;
  }
  


/*porfolio button*/
.footer .folio{
    width: 12rem;
    height: auto;
    position: absolute;
    top: 50%; left: 55%;
}
.footer .folio > .circle{
    transition: all 0.45s 
    cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem; height: 3rem;
    background: #fdd9d9;
    border-radius: 1.625rem;
}
.footer .folio > .circle > .icon{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  .footer .folio > .circle > .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  .footer .folio > .circle > .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .footer .folio .bTxt{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    padding: 0.8rem 0;
    margin: 0 0 0 1rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  .footer .folio:hover .circle {
    width: 100%;
  }
  .footer .folio:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
            transform: translate(1rem, 0);
  }
  .footer .folio:hover .bTxt {
    color: #fff;
  }
  

