*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
ul{list-style: none;}
body{
    font-size: 16px;
    font-family: "맑은 고딕";
}
#header .wrap{
    position: fixed;
    top: 40px; left: 50%;
    transform: translateX(-50%);
    width: 1300px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
#header .nav{
    display: flex;
}
#header .nav li{
    margin-left: 100px;
}

/*content*/


.section{
    width: 100%;
    height: 100%;
    position: relative;
    /* transition: 1s; */
}
.section .wrap{
    width: 1920px; height: 980px;
    background: #f6faff;}
.section .slide-item{
    max-width: 100%; height: 70%;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
}
.section .slide-item .txt-box{
    width: 50%; height: 60%;
    position: relative;
    top: 50%; left: 10%;
    transform: translateY(-50%);
}

/*버튼*/
.section .slide-item .txt-box > ul{
    float: left; 
    position: relative;
    top: 15%;
    transform: translateY(50%);
    padding-left: 8%;
    padding-right: 10%;
}
.section .slide-item .txt-box > ul > li{
    width: 20px; height: 20px; background-color: #ebeae9;
    font-size: 18px;
    margin-bottom: 15px;
    border-radius: 50%;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.section .slide-item .txt-box > ul > li > a{color: #ebeae9; font-size: 0;}
.section .slide-item .txt-box > ul > li:hover,
.section .slide-item .txt-box > ul > li.on{
    height: 40px;
    background-color: #fdd9d9;
    border-radius: 40px;
}
.section:nth-child(2) .slide-item .txt-box > ul > li:nth-child(1){background-color: #fdd9d9; height: 40px; border-radius: 40px;}
.section:nth-child(3) .slide-item .txt-box > ul > li:nth-child(2){background-color: #fdd9d9; height: 40px; border-radius: 40px;}
.section:nth-child(4) .slide-item .txt-box > ul > li:nth-child(3){background-color: #fdd9d9; height: 40px; border-radius: 40px;}


.section .slide-item .txt-box > ul > li::before{
    content: "Web";
    font-family: "dutch";
    background-color: #fdd9d9;
    color: #fff;
    display: inline-block;
    width: 50px; height: 50px;
    border-radius: 50%;
    text-align: center; 
    line-height: 50px;
    position: absolute;
    left: -100px; top: 50%; 
    transform: translateY(-50%);
    z-index: 2;
    transition: 0.25s;
    opacity: 0;
}
.section .slide-item .txt-box > ul > li:last-child:before{
    content: "Web";
}
/*선*/
.section .slide-item .txt-box > ul > li::after{
    content: "";
    width: 70px; height: 1px;
    background-color: #fdd9d9;
    position: absolute;
    left: -80px; top: 50%; 
    transform: translateY(-50%);
    transition: 0.25s;
    opacity: 0;
}
.section .slide-item .txt-box > ul > li:hover::after,
.section .slide-item .txt-box > ul > li:hover::before{opacity: 1;}





/*txt-contents*/
.section .slide-item .txt-box .txt-content{
    float: left;
    width: 76%;
}
.section .slide-item .txt-box .txt-content h1{
    font-family: "dutch";
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
}
.section .slide-item .txt-box .txt-content span{
    font-size: 20px;
    font-family: "dutch";
    color: #999;
    margin-right: 20px;
}
.section .slide-item .txt-box .txt-content p{
    margin-top: 40px;
    margin-bottom: 100px;
    width: 400px;
    font-size: 18px;
    font-weight: 500;
    width: 80%;
}
.section .slide-item .txt-box .txt-content ul li{
    display: inline-block;
    width: 38%; height: 50px;
    line-height: 50px;
    background-color: #ebeae9;
    text-align: center;
    transition: 0.45s;
    border-radius: 10px;
}
.section .slide-item .txt-box .txt-content ul li a{
    font-family: "dutch";
    color: #333;
    font-size: 23px;
    transition: 0.45s;
    display: inline-block;
    width: 100%;
}
.section .slide-item .txt-box .txt-content ul li:hover{background-color: #ffefd5;}
.section .slide-item .txt-box .txt-content ul li:hover a{color: #333;}
.section .slide-item .txt-box .txt-content ul li:first-child{margin-right: 15px;}

.section:nth-child(3) .slide-item .txt-box .txt-content ul li:hover{background-color: #cff9df;}
.section:nth-child(4) .slide-item .txt-box .txt-content ul li:hover{background-color: #fdd9d9;}




/*이미지 박스*/
.section .slide-item .img-box{
    /* width: 50%; height: 100%; */
    position: absolute;
    top: -20%; right: -30%;
}
/*배경*/
/*1*/
.section .slide-item .img-box .bg{
    width: 100%; height: 90%;
    background-color: #ffefd5;
    border-radius: 10px;
    position: relative;
    top: 50%; left: -13%;
    transform: translateX(50%);
    width: 650px; height: 550px;   
}
/*2*/
.section:nth-child(3) .slide-item .img-box .bg{
    width: 100%; height: 90%;
    background-color: #e1ffed;
    border-radius: 10px;
    position: relative;
    top: 50%; left: -13%;
    transform: translateX(50%);
    width: 650px; height: 550px;   
}
/*3*/
.section:nth-child(4) .slide-item .img-box .bg{
    width: 100%; height: 90%;
    background-color: #fff3f3;
    border-radius: 10px;
    position: relative;
    top: 50%; left: -13%;
    transform: translateX(50%);
    width: 650px; height: 550px;   
}

/*컴퓨터*/
.section .slide-item .img-box .pc{
    position: absolute;
    top: -10%; left: 80%;
    transform: translateX(-50%);
    overflow: hidden;
    z-index: 9;
}
.section .slide-item .img-box .pc .preview{
    width: 900px; height: 800px; 
    position: relative;
    left: 5%;
    z-index: 4;
}
/*포폴리오 소개 이미지*/
.section .slide-item .img-box .pc .preview img{width: 100%;}
.section:nth-child(2) .slide-item .img-box .pc .hover-img{
    background: url(../img/tamburins.png) center top no-repeat;
    background-size: cover;
    position: absolute;
    width: 533px; height: 300px;
    left: 25.4%; top: 13.5%;
    /* transform: translateY(-50%); */
    z-index: 9;
    transition: 12s linear;
}
.section:nth-child(3) .slide-item .img-box .pc .hover-img{
    background: url(../img/Quafe.png) center top no-repeat;
    background-size: cover;
    position: absolute;
    width: 533px; height: 300px;
    left: 25.3%; top: 107px;
    /* transform: translateX(-50%); */
    z-index: 9;
    transition: 10s linear;
}
.section:nth-child(4) .slide-item .img-box .pc .hover-img{
    background: url(../img/cucucat.png) center top no-repeat;
    background-size: cover;
    position: absolute;
    width: 533px; height: 300px;
    left: 25.3%; top: 107px;
    /* transform: translateX(-50%); */
    z-index: 9;
    transition: 10s linear;
}
.section .slide-item .img-box .pc:hover .hover-img{
    background-position: center bottom;
}
.section .slide-item .img-box img:nth-child(3){
    position: absolute;
    z-index: 2;
    top: -30px; left: -50px;
    width: 110%;
}
.section .slide-item .img-box p{
    position: absolute;
    z-index: 5;
    font-size: 80px;
    color: #de5e3b;
    font-family: "dutch";
    bottom: 20px; right: -10%;
    letter-spacing: 1px;
    line-height: 60px;
    /* width: 100%; */
}
.section:nth-child(5) .slide-item .img-box img:nth-child(2){
    width: 682px;
    position: absolute;
    top: 35px; left: 50%;
    transform: translateX(-40%);
    z-index: 5;
}


/*poss*/
.poss .wrap{
    width: 1920px; height: 1520px;
    background: #5f6d80;
}
.poss .img{
    text-align: center;
    padding-top: 180px;
}
.poss .img img{
    padding-bottom: 120px;
}

/*trand*/
.trand .wrap{
    width: 1920px; height: 800px;
    background: url(../img/trand.png)
}
.trand .wrap img{
    padding-left: 344px;
    padding-top: 212px;
}
.trand .wrap p{
    padding-left: 910px;
    padding-top: 200px;
    font-size: 24px;
    line-height: 40px;
}





/*footer*/
.footer .wrap{
    width: 1920px; height: 240px;
    background: #e6e5e1;
    position: relative;
}

/*frame*/
button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    background: transparent;
    /* padding: 0; */
    font-size: inherit;
    font-family: inherit;
}

/*process button*/
.footer .pro{
    width: 12rem;
    height: auto;
    position: absolute;
    top: 50%; left: 30%;
}
.footer .pro > .circle{
    transition: all 0.45s 
    cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem; height: 3rem;
    background: #fdd9d9;
    border-radius: 1.625rem;
}
.footer .pro > .circle > .icon{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  .footer .pro > .circle > .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  .footer .pro > .circle > .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .footer .pro .bTxt{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    padding: 0.8rem 0;
    margin: 0 0 0 1rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  .footer .pro:hover .circle {
    width: 100%;
  }
  .footer .pro:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
            transform: translate(1rem, 0);
  }
  .footer .pro:hover .bTxt {
    color: #fff;
  }
  


/*porfolio button*/
.footer .folio{
    width: 12rem;
    height: auto;
    position: absolute;
    top: 50%; left: 55%;
}
.footer .folio > .circle{
    transition: all 0.45s 
    cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem; height: 3rem;
    background: #fdd9d9;
    border-radius: 1.625rem;
}
.footer .folio > .circle > .icon{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  .footer .folio > .circle > .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  .footer .folio > .circle > .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .footer .folio .bTxt{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 50px;
    right: 0;
    bottom: 0;
    padding: 0.8rem 0;
    margin: 0 0 0 1rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  .footer .folio:hover .circle {
    width: 100%;
  }
  .footer .folio:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
            transform: translate(1rem, 0);
  }
  .footer .folio:hover .bTxt {
    color: #fff;
  }
  

