@font-face {
  font-family: 'RixInooAriDuriR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
ul{list-style: none;}
body{
  font-size: 14px;
  font-family: "맑은 고딕";
  color: #fff;
}
/*header*/
header{
  width: 100%; 
  position: fixed;
  top: 0; left: 0;
  z-index: 100;
}
nav{
  width: 100%;
  background-color: #20954c;
  padding: 20px;
  box-sizing: border-box;
}
nav > .wrap{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* header > .wrap > .logo img{
  width: 100%;
} */
#gnb{display: flex;}
#gnb > li{
  padding-right: 20px;
}
#gnb > li:hover{
  color: #fbbb48;
  text-decoration: underline;
}
.toggle{
  position: absolute;
  top: 35px; right: 0;
  padding: 0 20px;
  font-size: 30px;
  color: #db403a;
  display: none;/*메뉴아이콘을 오른쪽 상단에 배치 후 큰화면에서 제거*/
}

/*====================================*/

/*banner*/
#banner{
  width: 100%;
  height: 1000px;
  background: url(../img/bg.png) center/cover;
  position: relative;
}
/*bannerCh*/
#banner .treeLogo{
  position: absolute;
  top: 20%; left: 45%;
  z-index: 1;
  animation:spin 2s infinite ease-in-out;
}
#banner .treeLogo > img{
  width: 100%;
  height: auto;
}
#banner >.bannerCh > .treeLogo:hover{
  background-color: #fbbb48;
  border-radius: 50%;
  margin-left: -25px;
  margin-top: -30px;
  padding: 35px;
}
#banner >.bannerCh > .treeLogo > img:hover{
  transform: scale(1.1);
}
@keyframes spin{
  0%{transform:rotate(-5deg);}
  50%{transform:rotate(10deg);}
  100%{transform:rotate(-5deg);}
}

#banner .tree{
  position: absolute;
  top: 60%; left: 50%;
  transform: translate(-50%, -50%);
}
#banner .tree > img{
  max-width: 100%;
  height: auto;
}
#banner .treeTxt{
  position: absolute;
  top: 34%; left: 32.5%;
}
#banner .treeTxt > img{max-width: 100%; height: auto;}

#banner .ch{
  width: 100%;
  position: absolute;
  top: 45%; left: 67%;
  animation: move 2s infinite ease-in-out;
}
#banner .ch > img{max-width: 100%; height: auto;}

@keyframes move{
  0%{transform:translateY(40px);}
  50%{transform:translateY(-40px);}
  100%{transform:translateY(40px);}
}
#banner .ch2{
  width: 100%;
  position: absolute;
  top: 20%; left: 20%;
  animation: left 2s infinite ease-in-out;
}
#banner .ch2 > img{max-width: 100%; height: auto;}
@keyframes left{
  0%{transform:translateX(40px);}
  50%{transform: translateX(-40px);}
  100%{transform:translateX(40px);}
}


/*bar*/
#bar{width: 100%; position: relative;}
#bar > .barBg{
  background-color: #db403a;
  height: 100px;
}
#bar .md{
  position: absolute;
  top: 25px; left: 50%;
  transform: translateX(-50%);
}
#bar > .md > h2{
  color: #20954c;
  font-size: 35px;
  width: 100%;
}
/*====================================*/

/*contents*/
#contents{
  width: 100%;
  padding: 20px;
  background-color: #ffe3e3; 
  /* background-image: url(../img/bgs.jpg); */
}

#contents > #bg > .allBox{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 80px;
}
#contents .box{
  width: 33.333%;
  padding:0px 10px;
  box-sizing: border-box;
}
#contents .box > .img > img{
  cursor: pointer;
  width: 100%; display: block;
  overflow: hidden;
  transition: all 0.3s ease-in-out; 
}
#contents .box img:hover{
  transform: scale(1.1);
}

/*#contents > #bg{ height: 1440px;}*/
#contents .box > .txt{
  font-size: 16px;
  color: #98142c;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
}
#contents .box > .txt:hover{
  color: #20954c;
}
#contents .box > .txt > p:first-child{
  line-height: 40px;
}
#contents .box > .txt > p:last-child{
  margin-bottom: 15px;
}
/*====================================*/

/*fBar*/
#fBar{
  width: 100%;
  background-color: #20954c;
}
#fBar > #Bbar{
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;

}
#fBar > #Bbar > .text{
  font-size: 30px;
  font-family: "휴먼둥근헤드라인" ;
}

input[type=text]{
  width: 120px;
  height: 40px;
  border: none;
}
input[type=text]:nth-child(1),
input[type=text]:nth-child(2){
  text-indent: 10px;
}
/*checkbox*/
input[type=checkbox]{
  display: none;
}
.rect{
  display: inline-block;
  width: 20px; height: 20px;
  margin-left: 10px;
}
input[type="checkbox"] + span{
  display: inline-block;
  width: 20px; height: 20px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  top: 5px;
}
span{
  margin-left: 5px;
}
input[type="checkbox"]:checked + span::after{
  content: "✔";
  font-size: 16px;
  width: 20px; height: 20px;
  text-align: center;
  position: absolute;
  left: 0; top: 0;
  color: #db403a;
}

input::placeholder{
  text-indent: 10px;
}
span{padding-left: 2px;}

button{
  width: 120px;
  height: 40px;
  background-color: #db403a;
  font-size: 12px;
  color: #fff;
  border-style: none;
}
/*====================================*/

/*footer*/
footer{
  max-width: 1200px;
  margin: auto;
}
footer > .wrap{
  font-size: 12px;
  color: #111;
  display: flex;
  justify-content: space-between;
  margin: 40px;
}
footer > .wrap > .left{
  padding-left: 350px;
}


/*====================================*/
/*1200*/
@media (max-width:1200px){
  #banner{
    width: 100%;
    height: 1000px;
    background-position: center top;
  }
  #bar{
    height: 100px;
  }

  #banner .treeLogo{
    position: absolute;
    top: 20%; left: 45.5%;
    z-index: 1;
  }
  #banner .tree{
    position: absolute;
    top: 60%; left: 45%;
    transform: translate(-50%, -50%);
  }
  #banner .treeTxt{
    left: 18%;
  }
  #banner .treeLogo{
    left: 37%;
  }

  #banner .ch{
    position: absolute;
    top: 45%; left: 70%;
    animation: move 2s infinite ease-in-out;
  }
    
  @keyframes move{
    0%{transform:translateY(40px);}
    50%{transform:translateY(-40px);}
    100%{transform:translateY(40px);}
  }

  #banner .ch2{
    position: absolute;
    top: 12%; left: 5%;
    animation: left 2s infinite ease-in-out;
  }
  @keyframes left{
    0%{transform:translateX(40px);}
    50%{transform: translateX(-40px);}
    100%{transform:translateX(40px);}
  }

}
/*===============================*/
/*980*/
@media (max-width:980px){

 #banner{
  width: 100%;
  height: 630px;
  background-position: center top;
 }
 #banner .tree{
  width: 40%;
  left: 50%;
 }
 #banner .treeTxt{
  left: 250px; top: 30%;
  width: 50%;
 }
 #banner .treeLogo{
  width: 18%;
  left: 41%;
 }
 #banner .ch{
  top: 40%; left: 75%;
  width: 22%;
 }
 @keyframes move{
  0%{transform:translateY(20px);}
  50%{transform:translateY(-20px);}
  100%{transform:translateY(20px);}
}
#banner .ch2{width: 25%;}

#bar > .md{width: 20%; top: 25%;}

#contents{ width: 100%;} 

#contents .box{width: 50%;}


/*개인정보 동의 없애기*/
 .rect{display: none;}
 span{display: none;}


 #fBar > #Bbar > .text{
  font-size: 25px;
}
 footer{
  max-width: 980px;
 }
}
/*===============================*/
/*768*/
@media (max-width:768px){
  header > nav > .wrap{
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
  }
  .wrap > .logo img{width: 138px;}
  #gnb{ 
    width: 100%;
    padding: 0px 20px;
    flex-direction: column;
    display: none;
   }
   #gnb > li{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    padding-top: 10px;
   }
   #gnb > li:hover{
    background-color: #19793e;
   }
   .toggle{
    display: block;
    top: 20px;
  }

  #banner{
   width: 100%;
   height: 630px;
   background-position: center top;
  }

   #banner .treeTxt{
    left: 29.5%; top: 40%;
    width: 40%;
   }
   #banner .treeLogo{
    width: 18%;
    left: 41%;
   }
   #banner .ch{
    top: 40%; left: 75%;
    width: 22%;
   }
   @keyframes move{
    0%{transform:translateY(30px);}
    50%{transform:translateY(-30px);}
    100%{transform:translateY(30px);}
  }
  #banner .ch2{width: 25%;}
  @keyframes left{
    0%{transform:translateX(20px);}
    50%{transform: translateX(-20px);}
    100%{transform:translateX(20px);}
  }
  
  #bar > .md{width: 20%; top: 20%;}
  #bar > .md > h2{font-size: 25px;}
  
  #contents{ width: 100%;} 
  
  #contents .box{width: 50%;}
  

  #bar{height: 94px;}
  #bar > .barBg{height: 94px;}
  #bar > .md > h2{height: 50px; margin-top: 8px;}
  .toggle{display: block;}
  input{display: none;}
  button{display: none;}
  .icon1{margin-left: 150px;}
  #fBar > #Bbar > .text > p{margin-right: 150px;}

}

footer .left ,
footer .left + p{display: none;}
footer > .wrap > .text{text-align: center; margin: auto;}

/*===============================*/
/*480*/
@media (max-width:480px){
  header{height: 80px;} 
  header > .wrap > .logo img{height: 40px;}
  .toggle{margin-top: -15px;}
  #banner{
    width: 100%;
    height: 398px;
    background-position: center top;
   }
   #bar{height: 60px;}
   #bar > .barBg{height: 60px;}
   #bar > .md > h2{font-size: 15px;} 

   #contents{
    width: 100%;
   } 
   #contents .box{
    width: 100%;
  }
  #fBar > #Bbar > .text > p{
    font-size: 20px;
    padding-right: 30px;
}
.icon1{padding-left: 50px; height: 37px;}

footer > .wrap > .text{padding-top:25px; height: 80px;}
footer > .wrap{padding: 0;}

}









