/*초기화*/
*{margin: 0; padding: 0;}
a{text-decoration: none; color:inherit;}
ul{list-style: none;}
html,body{
  scroll-behavior: smooth; /*부드러운 스크롤 이동*/
}
body{
  background: url(../img/body.png) center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #787878;
  line-height: 1.5;
  
}
/*header*/
/*topmenu*/
header > .top_menu{
  width: 100%;
  height: 40px;
  background-color: #fedbd3;
}
.top_menu > .nav{
  margin: auto;
  width: 1200px;
  display: flex;
  justify-content: end;
  
}
.top_menu > .nav > li{
  margin-top: 10px;
  margin-right: 20px;
}

/*menu*/
header > .menu{
  width: 1920px;
  height: 120px;
  background-color: #fffcee;
}
.menu > .wrap{
  margin: auto;
  width: 1200px;
  display: flex;
  justify-content: space-around;
}
.menu > .wrap > .logo{margin-top: 20px;}
.menu > .wrap > .navi{
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  margin-right: 10px; 
}
.menu > .wrap > .navi > li{
  margin-right: 20px;
  font-family: "Rix이누아리두리";
  color: #625231;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*fixed*/
#fixed{
  cursor: pointer;
  position: relative;
  z-index: 10;
  position: fixed;
}
#fixed > .elevator{
  background: url(../img/eButton.png) no-repeat;
  background-size: 80px;
  width: 800px;  left: 1600px;
  height: 280px;
  position: absolute;
}
#fixed .box{
  width: 60px; height: 220px;
  position: absolute;
  top: 25px; left: 7%;
  transform: translateX(-50%);
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*banner*/
#banner{height: 955px; margin-bottom: 60px; margin-top: 50px;}
#banner > .wrap{position: relative; height: 955px;}
#banner .bannerFrame{position: relative;}
#banner .bannerFrame > .frame{
  position: absolute;
  top: 50%; left: 49.6%;
  transform: translateX(-50%);
  width: 1460px; 
  margin: auto;
}
#banner .bannerFrame > .curtain > img{
  position: absolute;
  z-index: 2;
  top: 235px; left: 46%;
  transform: translateX(-50%);
}
.imgSlide{
  width:1140px;
  /* margin-top: 100px; */
  height: 560px;
  overflow: hidden;
  position: absolute; 
  top: 370px; left: 380px; 
  box-sizing: border-box;
}
.imgSlide .imgGroup{
  width:3420px;
  position: absolute;
  display: flex;
  z-index: -1;
  left: 0; top: 0;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*5F*/
#bathRoom{height: 1200px;}
#bathRoom > .wrap{position: relative; height:1200px;}
#bathRoom .contentsFrame{
  position: absolute;
  top: 0px; left: 50%;
  transform: translateX(-50%);
}
#bathRoom > .wrap > button{
  position: absolute;
  top: 110px; left: 450px;
  font-size: 24px; color: #f89842;
  font-weight: bold;
  border-color: #fff;
  border-radius: 20px;
  width: 180px; height: 40px;
}
#bathRoom  .gif{
  position: absolute;
  top: 80px; left: 407px;
}
#bathRoom .contents{
  width: 1091px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  top: 720px; left: 407px;
  display: flex;
  justify-content: space-around;
}
#bathRoom .contents > .text{ margin-top: 30px;}
#bathRoom .contents > .text > h1{
  font-size: 30px;
  line-height: 80px;
  color: #111;
}

#bathRoom .contents > .text > p{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
}
#bathRoom .contents > .goods{margin-top: 40px;}
#bathRoom .contents > .goods > .img{
  width: 235px; height: 250px;
  background-color: #f2f2f2;
  position: relative;
}
#bathRoom .contents > .goods > .img > img{
  position: absolute; 
  top: 50%; left: 50%; 
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: all 0.3s ease-in-out; 
}
#bathRoom .contents > .goods > .img > img:hover{
  transform: translate(-50%, -50%) scale(1.1);
}
#bathRoom .contents > .goods > .txt{margin-top: 20px;}
#bathRoom .contents > .goods > .txt > p{
  color: #111;
  font-weight: bold;
  line-height: 40px;
}
#bathRoom .contents .goods .txt:hover p{
  color: #f89842;
  cursor: pointer;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*4F*/
#food{height: 1120px;}
#food > .wrap{position: relative; height: 1120px;}
#food .contentsFrame{
  position: absolute;
  top: 0px; left: 50%;
  transform: translateX(-50%);
}
#food > .wrap > button{
  position: absolute;
  top: 40px; left: 450px;
  font-size: 24px; color: #f89842;
  font-weight: bold;
  border-color: #fff;
  border-radius: 20px;
  width: 260px; height: 40px;
}
#food  .gif{
  position: absolute;
  top: 0px; left: 352px;
  z-index: -1;
}
#food .contents{
  width: 1091px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  top: 640px; left: 407px;
  display: flex;
  justify-content: space-around;
}
#food .contents > .text{ margin-top: 80px;}
#food .contents > .text > h1{
  font-size: 30px;
  line-height: 80px;
  color: #111;
}

#food .contents > .text > p{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
}
#food .contents > .goods{margin-top: 40px;}
#food .contents > .goods > .img{
  width: 235px; height: 250px;
  background-color: #f2f2f2;
  position: relative;
}
#food .contents > .goods > .img > img{
  position: absolute; 
  top: 50%; left: 50%; 
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: all 0.3s ease-in-out; 
}
#food .contents > .goods > .img > img:hover{
  transform: translate(-50%, -50%) scale(1.1);
}
#food .contents > .goods > .txt{margin-top: 20px;}
#food .contents > .goods > .txt > p{
  color: #111;
  font-weight: bold;
  line-height: 40px;
}
#food .contents > .goods > .txt:hover > p{
  color: #f89842;
  cursor: pointer;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*3F*/
#living{height: 1120px;}
#living > .wrap{position: relative; height: 1120px;}
#living .contentsFrame{
  position: absolute;
  top: 0px; left: 50%;
  transform: translateX(-50%);
}
#living > .wrap > button{
  position: absolute;
  top: 40px; left: 450px;
  font-size: 24px; color: #f89842;
  font-weight: bold;
  border-color: #fff;
  border-radius: 20px;
  width: 260px; height: 40px;
}
#living  .gif{
  position: absolute;
  top: 0px; left: 405px;
  z-index: -1;
}
#living .contents{
  width: 1091px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  top: 640px; left: 407px;
  display: flex;
  justify-content: space-around;
}
#living .contents > .text{ margin-top: 40px;}
#living .contents > .text > h1{
  font-size: 30px;
  line-height: 80px;
  color: #111;
}

#living .contents > .text > p{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
}
#living .contents > .goods{margin-top: 40px;}
#living .contents > .goods > .img{
  width: 235px; height: 250px;
  background-color: #f2f2f2;
  position: relative;
}
#living .contents > .goods > .img > img{
  position: absolute; 
  top: 50%; left: 50%; 
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: all 0.3s ease-in-out; 
}
#living .contents > .goods > .img > img:hover{
  transform: translate(-50%, -50%) scale(1.1);
}
#living .contents > .goods > .txt{margin-top: 20px;}
#living .contents > .goods > .txt > p{
  color: #111;
  font-weight: bold;
  line-height: 40px;
}
#living .contents > .goods > .txt:hover p{
  color: #f89842;
  cursor: pointer;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*2F*/
#dress{height: 1120px;}
#dress > .wrap{position: relative; height: 1120px;}
#dress .contentsFrame{
  position: absolute;
  top:0px; left: 50%;
  transform: translateX(-50%);
}
#dress > .wrap > button{
  position: absolute;
  top: 40px; left: 450px;
  font-size: 24px; color: #f89842;
  font-weight: bold;
  border-color: #fff;
  border-radius: 20px;
  width: 260px; height: 40px;
}
#dress  .gif{
  position: absolute;
  top: 0px; left: 405px;
  z-index: -1;
}
#dress .contents{
  width: 1091px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  top: 640px; left: 407px;
  display: flex;
  justify-content: space-around;
}
#dress .contents > .text{ margin-top: 40px;}
#dress .contents > .text > h1{
  font-size: 30px;
  line-height: 80px;
  color: #111;
}

#dress .contents > .text > p{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
}
#dress .contents > .goods{margin-top: 40px;}
#dress .contents > .goods > .img{
  width: 235px; height: 250px;
  background-color: #f2f2f2;
  position: relative;
}
#dress .contents > .goods > .img > img{
  position: absolute; 
  top: 50%; left: 50%; 
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: all 0.3s ease-in-out; 
}
#dress .contents > .goods > .img > img:hover{
  transform: translate(-50%, -50%) scale(1.1);
}
#dress .contents > .goods > .txt{margin-top: 20px;}
#dress .contents > .goods > .txt > p{
  color: #111;
  font-weight: bold;
  line-height: 40px;
}
#dress .contents > .goods > .txt:hover p{
  color: #f89842;
  cursor: pointer;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*1F*/
#playroom{height: 1120px;}
#playroom > .wrap{position: relative; height: 1120px;}
#playroom .contentsFrame{
  position: absolute;
  top: 0px; left: 50%;
  transform: translateX(-50%);
}
#playroom > .wrap > button{
  position: absolute;
  top: 40px; left: 450px;
  font-size: 24px; color: #f89842;
  font-weight: bold;
  border-color: #fff;
  border-radius: 20px;
  width: 260px; height: 40px;
}
#playroom  .gif{
  position: absolute;
  top: 0px; left: 405px;
  z-index: -1;
}
#playroom .contents{
  width: 1091px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  top: 640px; left: 407px;
  display: flex;
  justify-content: space-around;
}
#playroom .contents > .text{ margin-top: 50px;}
#playroom .contents > .text > h1{
  font-size: 30px;
  line-height: 80px;
  color: #111;
}

#playroom .contents > .text > p{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 30px;
}
#playroom .contents > .goods{margin-top: 40px;}
#playroom .contents > .goods > .img{
  width: 235px; height: 250px;
  background-color: #f2f2f2;
  position: relative;
}
#playroom .contents > .goods > .img > img{
  position: absolute; 
  top: 50%; left: 50%; 
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: all 0.3s ease-in-out; 
}
#playroom .contents > .goods > .img > img:hover{
  transform: translate(-50%, -50%) scale(1.1);
}
#playroom .contents > .goods > .txt{margin-top: 20px;}
#playroom .contents > .goods > .txt > p{
  color: #111;
  font-weight: bold;
  line-height: 40px;
}
#playroom .contents > .goods > .txt:hover p{
  color: #f89842;
  cursor: pointer;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*0F*/
#gard{height: 1000px; position: relative;}
#gard > .wrap{
  position: absolute;
  top: 0px; left: 50.6%;
  transform: translateX(-50%);
}
#gard .treeCat{
  position: absolute;
  top: 50px; left: 35px;
}
#gard .snowCat{
  position: absolute;
  top: 35%; left: 75%;
}
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*footer*/
footer{
  width: 1920px;
  height: 240px;
  background-color: #fedbd3;
  font-size: 14px;
  line-height: 25px;
}
footer > .wrap{
  margin: auto;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  }

