*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color:inherit;}
body{
  overflow-y: hidden
}
.bg{position: relative;}
#about > .bg{
  width: 100%;
  height: 1080px;
  background: url(../img/about_bg.jpg) center/cover no-repeat;
  
}
#about > .bg > .filter{
  width: 100%;
  height: 1080px;
  background: url(../img/about_blur.jpg) center/cover no-repeat;
  opacity: 0.5;
  position: absolute;
  top:0;
}
#about > .bg > .nav{
  width: 100%;
  height: 115px;
  background-color: #e4d9b9;
  position: fixed;
}
#about > .bg > .nav > .gnb{
  margin-left: 700px;
}
#about > .bg > .nav > .logo{
  position: absolute;
  font-weight: bold;
  font-family:"Adobe Caslon Pro";
  font-size: 40px;
  color: #fffc9a;
  line-height: 100px;
  left: 40px; top: 10px;
  text-shadow:2px 5px 10px rgb(187, 124, 35);
}
#about > .bg > .nav li{
  cursor: pointer;
  float: left;
  margin-right: 35px;
  font-size: 14px;;
  color: #432f1c;
  line-height: 40px;
  margin-top: 40px;
  font-weight: bold;
}
#about > .bg > .nav li:hover{
  color: rgb(63, 94, 66);
  text-decoration: underline;
  font-weight: bold;
}
#about h1{
  font-family: "Adobe Caslon Pro";
  color: #fffc9a;
  font-size: 60px;
  position: absolute;
  top: 320px; left: 770px;
  transform: translateY(50%);
  text-shadow: 5px 5px 10px #9e5418;
  cursor: pointer;
}

#about > .bg > .text > h2{
  cursor: pointer;
  font-size: 20px;
  font-family: "맑은 고딕";
  font-weight: bold;
  color: #fffdcd;
  position: absolute;
  top: 400px; left: 550px;
  text-align: center;
  margin-top: 30px;
  line-height: 40px;
}
#about > .bg > .text > .E{
  font-size: 16px;
  font-family: "Adobe Caslon Pro";
  color: #fffc9a;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 560px; left: 350px;
}
#about > .bg > .text > p{
  cursor: pointer;
  font-size: 18px;
  font-family: "Adobe Caslon Pro";
  color: #fffc9a;
  position: absolute;
  top: 650px; left: 850px;
 }
.animation > .ani > .ani1{
  position: absolute;
  top: 100%; left: 30px;
  filter: blur(10px);
  animation: objects 10s linear infinite;
  opacity: 0.6;
}
.animation > .ani > .ani2{
  position: absolute;
  top: 0; left: 55%;
  animation: painting 35s linear infinite;
  opacity: 0.6;  
}
.animation > .ani > .ani3{
  position: absolute;
  top: 0; left: 45%;
  animation: performance 35s linear infinite;
  opacity: 0.6;
}

@keyframes objects{
0%{top: 10%; filter: blur(10px);opacity: 0.6;} 
9%{top: 0;}
18%{top: -234px;}
19%{opacity: 0;}
26%{opacity: 0; top: 100%;}
27%{opacity: 0.6;}
63%{filter: blur(0);opacity: 1;}
100%{top: 10%; filter: blur(10px);opacity: 0.6;}
}

@keyframes painting{
  0%{top: 30%; filter: blur(6px); opacity: 0.6;}
  18%{top: 0;}
  35%{top: -351px;}
  36%{opacity: 0;}
  44%{opacity: 0; top: 100%;}
  45%{filter: blur(10px); opacity: 0.6;}
  81%{filter: blur(0); opacity: 1;}
  100%{top: 30%; filter: blur(6px); opacity: 0.6;} 
}

@keyframes performance{
  0%{top: 80%; filter: blur(10px); opacity: 0.6;}
  18%{ opacity: 1; filter: blur(0);}
  45%{top: 0;}
  57%{top: -292px;}
  58%{opacity: 0;}
  72%{opacity: 0; top: 100%;}
  80%{  opacity: 0.6; filter: blur(10px);}
  100%{top: 80%; opacity: 0.6; filter: blur(10px);} 
}


