body{min-width: 1920px;}
#footer{
  min-width: 1200px;
  width: 100%;
  height: 511px;
  margin: auto;
}
#footer > .yellowFooter{
  width: 100%;
  height: 320px;
  background-color: #f9e07d;
  display: flex;
  justify-content: space-around;
}
#footer > .yellowFooter > .txt{
  font-size: 12px;
  font-family: "맑은 고딕";
  text-align: center;
  color: #382c20;
  margin-top: 35px;
  box-sizing: border-box;
  cursor: pointer;
}
#footer > .yellowFooter > .txt > li{
  line-height: 35px;
}
#footer > .yellowFooter > .txt > li:hover{
  text-decoration: underline;
  color: rgb(173, 90, 13);
}
#footer > .yellowFooter > .txt > .bold{
  font-weight: bold;
  font-size: 14px;
}




#footer > .box{
  background-color: #f9eac7;
  width: 100%;
  height: 191px;
  position: relative;
}
#footer > .box > .txt{
  text-align: center;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
  font-size: 12px;
  font-family: "맑은 고딕";
  line-height: 23px;  
}
