*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color:inherit;}
body{
  overflow-x: hidden;
  font-family:"Adobe Caslon Pro";
  color: #333;
  font-size: 14px;
  min-width: 1920px;
}
.clearfix::after{/*클리어픽스핵*/
  content: "";
  display: block;
  clear: both;
}
/*#main*/
#main{
  width: 100%;
  height: 1300px;
  position: relative; 
}
.bg{
  position: absolute;
  width: 100%;
  height: 1300px;
  min-width: 1920px;
  z-index: -1;
  background-color: #010101;
}
.bg > video{
  width: 1553px;
  position: absolute;
  bottom: 1px;
  margin-left:350px; 
}
.bg > .mainLogo{
  position: absolute;
  left:60%; top:45%;
  transform:translate(-50%,-50%);
  filter: drop-shadow(5px 5px 5px  rgb(187, 124, 35));/*이미지 로고 그림자*/
}

/************************************************************************************/

.header{
  display: flex;
  float: right;
  margin-top: 40px;
  margin-right: 160px;
}
.header > p{
  font-size: 16px;
  color: #010101;
  margin-left: 40px;
  text-align: center; 
}
.header > P:hover{  background-color: #f1f1f1;}
.header > p:after{
  display: block;
  width: 100%;
  content: '';
  border-bottom: 1px solid #010101;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}
.header p:hover::after{
  transform: scaleX(1);
}

/************************************************************************************/

.menu{
  width: 350px;
  height: 1300px;
  background-color: #f9b84d;
}
.menu > .logo{ /*TAMBURINS*/
  font-size: 30px;
  color: #fffc9a;
  line-height: 100px;
  margin-left: 40px;
  text-shadow:2px 5px 10px rgb(187, 124, 35);
}

.menu > #navi > .group{
  font-size: 16px;
  color: #432f1c;
  text-indent: 40px;
  line-height: 55px;
  margin-left: 10px;
  margin-bottom: 15px;
}
.menu > #navi > li:nth-child(1){ margin-top: 30px;}
.menu > #navi > .group:hover{
  color: #fdf68f;
  font-weight: bold;
}
#navi .title{cursor: pointer;}
#navi .sub > li{
  font-size: 12px;
  color: #fffcb6;
  font-family: "맑은 고딕";
  margin-bottom: 20px;
  line-height: 35px;
}
 #navi .sub > li:hover{
  color: rgb(63, 94, 66);
}

/************************************************************************************/

.Micon > img{ /*메뉴바 아이콘*/
  margin-left: 50px; 
  filter: drop-shadow(5px 5px 5px  rgb(187, 124, 35)); /*이미지 로고 그림자*/
  cursor: pointer;
}
.Micon > img:hover{/*메뉴 아이콘 크기 확대효과*/
  transform-origin: center;
  transform: scale(1.1);
  transition: transform 0.2s;
}
